{% load static %}
<!DOCTYPE html>
<html lang="en-us">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Web dictaphone</title>
	
	<!--[if le IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script src="{% static "js/respond.js" %}"></script>
    <![endif]-->

    
    <link href='http://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>
	<link href="{% static "css/normalize.css" %}" rel="stylesheet" type="text/css">
	
	<link href="{% static "css/app.css" %}" rel="stylesheet" type="text/css">
	
</head>
<body>
{#  <div class="wrapper">#}
{#    #}
{#    <header>#}
{#      <h1>Web dictaphone</h1>#}
{#    </header>#}
{##}
{#    <section class="main-controls">#}
{#      <canvas class="visualizer"></canvas> #}
{#      <button class="record">Record</button>#}
{#      <button class="stop">Stop</button>#}
{##}
{#    </section>#}
{##}
{#    <section class="sound-clips">#}
{##}
{#      <!-- <article class="clip">#}
{#        <audio controls></audio>#}
{#        <a href="">Download clip</a>#}
{#      </article> -->#}
{##}
{#    </section>#}
{##}
{#  </div>#}



<div>
 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66.03 115">

   <title>Asset 4</title>
   <g  id="Layer_2" data-name="Layer 2">
      <g id="Layer_1-2" data-name="Layer 1">
         <path class="border-ext" d="M66.76,1H19.32A8.31,8.31,0,0,0,11,9.29v96.41a8.31,8.31,0,0,0,8.3,8.29H66.76a8.3,8.3,0,0,0,8.3-8.29V9.29A8.3,8.3,0,0,0,66.76,1Z" transform="translate(-10.03)"/>
         <path class="background-middle" d="M60.62,13.09H25.47a6.17,6.17,0,0,0-6.15,6.17V91a6.17,6.17,0,0,0,6.15,6.17H60.62A6.16,6.16,0,0,0,66.76,91V19.26a6.16,6.16,0,0,0-6.15-6.17Z" transform="translate(-10.03)"/>

  <g class="sms-group">
<!--         <path class="sms-baloon" d="M57.3,60.61c0-3.82,0-14.72,0-14.72A2.09,2.09,0,0,0,55,43.69l-23.17-.08c-1.41,0-3.14.76-3.14,2.18l0,14.14c0,1.41,1.72,2.46,3.13,2.47h3a1.24,1.24,0,0,1,1.13,1.36v3.81l5-4.75a1.41,1.41,0,0,1,.93-.4l13.13,0A2.45,2.45,0,0,0,57.3,60.61Z" transform="translate(-10.03)"/> -->

<!--         <path class="puntito1" d="M40,52.9a1.38,1.38,0,1,1-1.38-1.38A1.38,1.38,0,0,1,40,52.9Zm0,0" transform="translate(-10.03)"/>
         <path class="puntito2" d="M44.8,52.9a1.38,1.38,0,1,1-1.38-1.38A1.38,1.38,0,0,1,44.8,52.9Zm0,0" transform="translate(-10.03)"/>-->
       <circle class="" fill="#3498db" cx="32.98" cy="53.9" r="13.86"/>

         <path class="Phone" cx="32.98" cy=".9" d="M6.6 10.8c1.4 2.8 3.8 5.1 6.6 6.6l2.2-2.2c.3-.3.7-.4 1-.2 1.1.4 2.3.6 3.6.6.5 0 1 .4 1 1V20c0 .5-.5 1-1 1-9.4 0-17-7.6-17-17 0-.6.4-1 1-1h3.5c.5 0 1 .4 1 1 0 1.2.2 2.5.6 3.6.1.4 0 .7-.2 1l-2.3 2.2z" fill="#fff" transform="translate(25.5,46) scale(0.6)" />
        </g>

         <path class="cls-5" d="M39.28,9.19h7.53a1.89,1.89,0,0,0,0-3.77H39.28a1.89,1.89,0,0,0,0,3.77Zm0,0" transform="translate(-10.03)"/>
         <path class="cls-5" d="M34.59,107.35H51.5a1.9,1.9,0,0,0,0-3.77H34.59a1.9,1.9,0,0,0,0,3.77Zm.23,0" transform="translate(-10.03)"/>

   <g class="tick-group">
       <circle class="circle-tick" cx="32.98" cy="53.9" r="13.86"/>
         <path class="circle-check" d="M40.23,58.52a1,1,0,0,0,1.35,0l7.95-7.95a1,1,0,1,0-1.35-1.35L40.9,56.49l-3.08-3.08a1,1,0,1,0-1.35,1.35Zm0,0" transform="translate(-10.03)"/>
        </g>

      </g>
   </g>
</svg>
</div>






  <!-- The following element pulls in the script for the default template functionality -->
      
    <script src="{% static "js/install.js" %}"></script>

    <!-- Below is your custom application script -->
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>

	
</body>
</html>